@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Cairo:wght@200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Beiruti", sans-serif;
}
html{
    scroll-behavior: smooth;
}


/* @media (width < 600px {

}) */